.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2B2D42;
  padding: 1.5rem 0 1rem;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}
.logo {
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.actions {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.name,
.buttons {
display: flex;
justify-content: center;
align-items: center;
}
.name {
margin-bottom: 10px;
}
.actions button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background: #EF233C;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  height: 70px;
}
.actions button.logout,
.actions button.createNewTrainer  {
  background: #8D99AE;
}
.actions button.logout:hover,
.actions button.createNewTrainer:hover {
  background: #EF233C;
}
.actions button:hover {
  background: #8D99AE;
}

@media (min-width: 360px) {
  .actions button {
    height: 52px;
  }
}

@media (min-width: 650px) {
  .inner {
      width: 80%;
  }

}
@media (min-width: 768px) {
.actions {
  flex-direction: row;
  justify-content: space-between;
}
.actions button{
  height: auto;
}
.name {
  margin-bottom: 0;
}

}


@media (min-width: 1200px) {
  .logo a{
      font-size: 2.5rem;
  }
  .container{
      padding: 2.5rem 0 1.5rem;
  }

}
