* {
  font-family: Arial, Helvetica, sans-serif;
}
.general {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: #8D99AE;
  width: 100%;
  height: 100%;
  margin-top: 20px;

}
.inner {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid #2B2D42;
  border-radius: 5px;
  background: white;
}
.title {
  background: #2B2D42;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.form {
  padding: 30px;
  box-sizing: border-box;
}
.input-span-div {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input,
.invalid-input {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 8px;
}
.input:focus,
.invalid-input {
  outline: none;
}
.invalid-input{
  border: 2px solid #EF233C;
  border-radius: 5px;
}
.span {
  color: #EF233C;
}
.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  background: #EF233C;
  color: white;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.button button:hover {
  background: #2B2D42;

}
.button button:disabled {
  cursor: not-allowed;
  background: #8D99AE;
  color: #EDF2F4;
}
.button a {
  text-decoration: none;
  color: blue;
}
.img img {
  z-index: 0;
}

@media(min-width: 600px){
  .general {
    margin-top: 30px;
  }
}
@media(min-width: 992px){
  .general {
    margin-top: 50px;
  }
}

